.welcomeMessage {
  font-size: 2.5em;
  background-color: rgb(39, 215, 39);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.loginPrompt {
  font-size: 2.5em;
  background-color: rgb(245, 43, 43);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0px;
}
